# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Gradio cache
.gradio/

# OS files
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Environment variables
.env
